{% extends "AppBundle::layout.html.twig" %}

{% block title %}Ajouter une nouvelle série{% endblock %}

{% block body %}
<div class="container-fluid">
<div id="bloc_test" style="display:none">
<div class='alert alert_success'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button><p class='title_alert'>title</p>content</div>
</div>
	<div class="row">
		<div class="col-sm-offset-2 col-sm-8">
			<div class="alert alert-info">
				<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
				Importer vos séries préférées ! 
				<p style="color:red"><span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
					Attention l'importation peut durer quelques secondes !
				</p>
			</div>
		</div>
	</div>
	
    <div class="row">
        <div class="col-sm-offset-4 col-sm-4" style="color:black;text-align:center;">
			{{ form_start(form, {'attr': {'id': 'form_add_series'}}) }}
            <div class="form-group">
                <div class="input-group">
					{{ form_widget(form.serie_name, {'attr': {'class': 'form-control left-rounded serie_name_value', 'placeholder': 'Série'} } ) }}
                    <div class="input-group-btn">
                        {{ form_widget(form.submit, {'attr': {'class': 'btn right-rounded submit_serie'}}) }}
                    </div>
                </div>
            </div>
			{{ form_rest(form) }}
			{{ form_end(form) }}
        </div>
		<div class="col-sm-1">
			<img class="loading" src="{{ asset('images/loading.gif') }}" alt="loading" />
		</div>
    </div>
	
	<div class="row result_query">
		
	</div>
</div>

{% endblock %}